@import 'fonts';

// Font variables
$causten-regular: 'CaustenRegular', sans-serif;
$causten-bold: 'CaustenBold', sans-serif;
$causten-medium: 'CaustenMedium', sans-serif;

// Colors chart
$light-yellow: #FFFFD9;
$light-green: #DCF0C8;
$middle-green: #C7E9B4;
$green: #7FCDBB;
$light-blue: #41B6C4;
$middle-blue: #1D91C0;
$blue: #225EA8;
$dark-blue: #253494;
$more-dark-blue: #081D58;

// Colors text
$txt-grey: #65757D;

// Colors bg
$bg-gray: #353A40;
$bg-light-grey: #F3F4F6;
$bg-white: #FFF;

// Colors overlay
$overlay: rgba(53, 58, 64, 0.50);

// Colors status
$warning: #EB5757;
$success: #46DB60;
$information: #FFA551;