// Causten font
@font-face {
    font-family: 'CaustenRegular';
    src: url('../fonts/Causten-Regular.ttf');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'CaustenBold';
    src: url('../fonts/Causten-Bold.ttf');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'CaustenMedium';
    src: url('../fonts/Causten-Medium.ttf');
    font-display: swap;
    font-weight: 500;
}