//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import "common";

//:root {
//  --foreground-rgb: 0, 0, 0;
//  --background-start-rgb: 214, 219, 220;
//  --background-end-rgb: 255, 255, 255;
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --foreground-rgb: 255, 255, 255;
//    --background-start-rgb: 0, 0, 0;
//    --background-end-rgb: 0, 0, 0;
//  }
//}

body {
  margin: 0;
  background: #F3F4F6;
  font-family: $causten-regular;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
.subtitle2, .button {
  font-family: $causten-bold;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 98px;
  line-height: 127.4px;
}

h2, .h2 {
  font-size: 61px;
  line-height: 79.3px;
}

h3, .h3 {
  font-size: 49px;
  line-height: 63.7px;
}

h4, .h4 {
  font-size: 35px;
  line-height: 45.5px;
}

h5, .h5 {
  font-size: 24px;
  line-height: 31.2px;
}

h6, .h6 {
  font-size: 20px;
  line-height: 26px;
}

.subtitle1,
.body1 {
  font-family: $causten-medium;
}

.body2 {
  font-family: $causten-regular;
}

a,
p,
span,
input,
caption,
table {
  font-family: $causten-regular;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background: #1D2023;
}

footer {
  width: 100%;
  padding-bottom: 24px;
}
footer img {
  margin-left: 0.5rem;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #65757D;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
}
