@import "common";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  min-height: 63px;

  &__logo {
    display: flex;
    align-items: center;
    padding: 8px;

    &--img {
      margin-right: 16px;
    }

    &--text {
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  a {
    color: $bg-white;
  }

  &__nav {
    .nav__list {
      display: flex;

      &__item {
        display: flex;
        padding: 16px;

        &--img {
          margin-right: 8px;
        }

        &--link {
          font-size: 14px;
          font-weight: 700;
          line-height: 18.2px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__date {
    color: #65757D;
    fill: #65757D;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    text-transform: uppercase;
    background: transparent;
    border: none;

    &::-webkit-calendar-picker-indicator {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M2.41787 16.5H13.5823C14.7527 16.5 15.7038 15.5489 15.7038 14.3785V3.80665C15.7038 2.63628 14.7527 1.68516 13.5823 1.68516H12.7408V1.09258C12.7408 0.766652 12.4741 0.5 12.1482 0.5C11.8223 0.5 11.5556 0.766652 11.5556 1.09258V1.68516H4.44456V1.09258C4.44456 0.766652 4.17786 0.5 3.85193 0.5C3.526 0.5 3.25934 0.766652 3.25934 1.09258V1.68516H2.41787C1.24751 1.68516 0.296387 2.63628 0.296387 3.80665V14.3785C0.296387 15.5489 1.24751 16.5 2.41787 16.5ZM1.4816 3.80665C1.4816 3.29111 1.90233 2.87038 2.41787 2.87038H3.25934V3.46296C3.25934 3.78889 3.526 4.05554 3.85193 4.05554C4.17786 4.05554 4.44451 3.78889 4.44451 3.46296V2.87038H11.5556V3.46296C11.5556 3.78889 11.8223 4.05554 12.1482 4.05554C12.4741 4.05554 12.7408 3.78889 12.7408 3.46296V2.87038H13.5823C14.0978 2.87038 14.5185 3.29111 14.5185 3.80665V5.53704H1.4816V3.80665ZM1.4816 6.72221H14.5186V14.3785C14.5186 14.8941 14.0979 15.3148 13.5824 15.3148H2.41787C1.90233 15.3148 1.4816 14.8941 1.4816 14.3785V6.72221Z' fill='%2365757D'/%3E%3C/svg%3E");
      padding-bottom: 4px;
    }
  }
}