.homepage {
  padding: 24px;

  &__segment {
    display: flex;
    width: 100%;

    &__chart {
      padding: 32px;
      border-radius: 10px;
      background: #FFF;
      margin-right: 8px;
      width: 50%;

      &--title {
        color: #1D2023;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        padding-bottom: 24px;
      }
    }
  }

  &__average__list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;

    &--item {
      padding: 32px;
      border-radius: 10px;
      background: #FFF;
      margin-right: 8px;
      width: calc(100%/3);
      &:last-child {
        margin-right: 0;
      }

      &--title {
        color: #1D2023;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        padding-bottom: 24px;
      }
    }
  }
}