.segment__table {
  padding: 32px;
  border-radius: 10px;
  background: #FFF;
  width: 50%;

  table {
    border-collapse: collapse;
    border: none
  }

  caption {
    color: #1D2023;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 24px;
    text-align: start;
  }

  thead {
    height: 32px;
  }

  th {
    color: #65757D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px;
    text-align: start;
  }

  tbody {
    tr {
      width: 100%;
      height: 52px;

      &:nth-child(2n) {
        border-radius: 5px 0 0 5px;
        background: #F3F4F6;
      }

      td {
        width: 40%;
        color: #65757D;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20.8px;
        padding-left: 13px;

        &:last-child {
          width: 60%;
          color: #65757D;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18.2px;
          padding-left: 0;
        }
      }
      td:first-child {
        border-radius: 5px 0 0 5px;
      }
      td:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}